@use '../../../styles/theme/typography.scss';
@use '../../../styles/theme/breakpoints.scss';
@use '../../../styles/theme/colors.scss';

.caption {
  @include typography.heading-5;
  color: colors.$white;

  text-align: center;

  @include breakpoints.md {
    text-align: start;
  }
}

.number {
  opacity: 0.25;
  font-weight: 700;
  margin-right: 18px;
}
