@use './sizes.scss';
@use './colors.scss';
@use './breakpoints.scss';

$bellefair-font: var(--bellefair-font);
$barlow-font: var(--barlow-font);
$barlow-condensed-font: var(--barlow-condensed-font);

@mixin heading-1 {
  font-size: sizes.px(80);
  line-height: sizes.px(100);
  font-weight: 400;
  text-transform: uppercase;
  font-family: $bellefair-font;
  color: colors.$white;

  @include breakpoints.md {
    font-size: sizes.px(150);
    line-height: sizes.px(150);
  }

  @include breakpoints.xl {
    line-height: sizes.px(172);
  }
}

@mixin heading-2 {
  font-size: sizes.px(100);
  line-height: sizes.px(115);
  font-weight: 400;
  text-transform: uppercase;
  font-family: $bellefair-font;
  color: colors.$white;
}

@mixin heading-3 {
  font-weight: 400;
  text-transform: uppercase;
  font-family: $bellefair-font;
  color: colors.$white;

  font-size: sizes.px(56);
  line-height: sizes.px(64);

  @include breakpoints.md {
    font-size: sizes.px(80);
    line-height: sizes.px(92);
  }

  @include breakpoints.xl {
    font-size: sizes.px(105);
    line-height: sizes.px(115);
  }
}

@mixin heading-4 {
  font-weight: 400;
  text-transform: uppercase;
  font-family: $bellefair-font;
  color: colors.$white;

  font-size: sizes.px(20);
  line-height: sizes.px(23);

  @include breakpoints.md {
    font-size: sizes.px(32);
    line-height: sizes.px(37);
  }
}

@mixin heading-5 {
  font-weight: 400;
  text-transform: uppercase;
  font-family: $barlow-condensed-font;
  color: colors.$light-blue;

  font-size: sizes.px(16);
  line-height: sizes.px(19);
  letter-spacing: 2.7px;

  @include breakpoints.md {
    font-size: sizes.px(20);
    line-height: sizes.px(24);
    letter-spacing: 3.375px;
  }

  @include breakpoints.xl {
    font-size: sizes.px(28);
    line-height: sizes.px(34);
    letter-spacing: 4.725px;
  }
}

@mixin subheading-1 {
  font-size: sizes.px(28);
  line-height: sizes.px(32);
  font-weight: 400;
  text-transform: uppercase;
  font-family: $bellefair-font;
  color: colors.$white;
}

@mixin subheading-2 {
  font-weight: 400;
  text-transform: uppercase;
  font-family: $barlow-condensed-font;
  color: colors.$white;

  font-size: sizes.px(14);
  line-height: sizes.px(17);
  letter-spacing: 2.35px;

  @include breakpoints.md {
    font-size: sizes.px(16);
    line-height: sizes.px(19);
    letter-spacing: 2.7px;
  }
}

@mixin subheading-3 {
  font-weight: 400;
  text-transform: uppercase;
  font-family: $bellefair-font;

  color: colors.$white;

  font-size: sizes.px(16);
  line-height: sizes.px(18);

  @include breakpoints.md {
    font-size: sizes.px(24);
    line-height: sizes.px(28);
  }

  @include breakpoints.xl {
    font-size: sizes.px(32);
    line-height: sizes.px(37);
  }
}

@mixin subheading-4 {
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $bellefair-font;

  color: colors.$white;

  font-size: sizes.px(24);
  line-height: sizes.px(28);

  @include breakpoints.md {
    font-size: sizes.px(40);
    line-height: sizes.px(46);
  }

  @include breakpoints.xl {
    font-size: sizes.px(56);
    line-height: sizes.px(64);
  }
}

@mixin nav-text {
  font-size: sizes.px(16);
  line-height: sizes.px(19);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  font-family: $barlow-condensed-font;
  color: colors.$white;
}

@mixin body-text {
  font-weight: 400;
  font-family: $barlow-font;

  font-size: sizes.px(15);
  line-height: sizes.px(25);

  color: colors.$white;

  @include breakpoints.md {
    font-size: sizes.px(16);
    line-height: sizes.px(28);
  }

  @include breakpoints.xl {
    font-size: sizes.px(18);
    line-height: sizes.px(32);
  }
}
